@media screen and (min-width: 800px) and (max-width: 1160px) {
  .hebergements {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements aside,
  .bloc_hergement{
    width: 100%;
  }
  .febrian a,
  .aw a,
  .emile a{
    width: 25%;
  }
  .febrian a img,
  .aw a img,
  .emile a img
  {

    width: 100%;
    height: 200px;
  }

  .sun_stars, .sun_stars_aw, .sun_stars_feb
  {
    margin-top: 100px;
  }
  .cards
  {
    padding: 0 170px;
    flex-direction: column;
  }
  .cards .card
  {
    width: 100%;
  }
  .no-box-shadow img
  {
    width: 100%;
    height: calc(100% - 55px);
  }
  .no-box-shadow
  {
    margin: 0 !important;
    box-shadow: none !important;
  }
  .cards .card:not(.no-box-shadow),
  .no-box-shadow .lg-card,
  .no-box-shadow .sm-card,
  .no-box-shadow .lg-card-2,
  .no-box-shadow .sm-card-2{
      height: 460px;
      margin: 20px 0;
  }
  .vieux, .kilyan
  {
    display: none
  }
}

@media screen and (max-width: 799px)
{

  .hebergements {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements aside,
  .bloc_hergement{
    width: 100%;
  }
  .febrian a,
  .aw a,
  .emile a{
    width: 45%;
  }
  .febrian a img,
  .aw a img,
  .emile a img{
    width: 100%;
  }

  body, header, section, footer, .actibloc
  {
    flex-direction: column;
  }
  .navhebr
  {
    font-size: 1em;
    border-bottom-width: medium;
  }
  #logo
  {
      width: 50%;
      margin-left: 13px;
      border-top: none;
      padding-top: 0px;
  }
  nav li
  {
    width: 50%;
    padding-right: 0px;
  }

  nav {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "logo sub" "nav nav";
  }
  nav #logo {
    grid-area: logo;
    width: 100px;

  }

nav #logo img {
  height: auto;
}
#sub
{
  margin-top: 0px;
}
nav #sub {
  grid-area: sub;
  height: 50%;
  padding: 17px 20% 0 0;
  justify-self: end;
  font-size: 1.1em;
}
nav #sub a {
  color: #0065fc;
  font-weight: 600;

    border-top: none;
    padding-top: 0px;
}
nav ul {
  grid-area: nav;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}
nav ul li {
  width: 50%;
  text-align: center;
  font-size: 1.1em;
}
nav ul a {
  display: block;
  margin: 30px 0 0 0;
  height: 30px;
  border-bottom: 3px solid #f2f2f2;
}
nav ul a:hover {
  color: #0065fc;
  font-weight: 600;
  border-bottom: 3px solid #0065fc;
  transition: 0.1s ease-in-out;

    border-top: none;
    padding-top: 0px;
}

#formulaire
{
margin-left: 7px;
}
form
{
  margin-top: -1px;
}
#gps
{
  margin-top: 17px;
  padding-bottom: 35px;
    padding-right: 22px;
    padding-left: 22px;
}
.gps-picture
{
  width: auto;
  height: 19px;
    padding-top: 4px;
}


.little, p
{
  font-size: 0.9em;

}
.little
{
  margin-left: 12px;
  font-size: 1em;
  margin-top: -15px;
}

h2{
  font-size: 1em;
  white-space: nowrap;
}
.price
{
  white-space: nowrap;
}
.acti
{

  font-size: 1em;
}
.inscrire
{

  display: grid;
  font-size: 1em;
}
.recherche
{
  display: none;
}

.search_picture
{
  width: auto;
  height: 20px;
  margin-top: 10px;
  padding-left: 1px;

    color: white;
    padding-bottom: 5px;
    padding-right: 5px;
}
.search
{
  display: block;
  background-color: #0065FC;
  margin-top: 17px;
    margin-bottom: 10px;

    padding-right: 15px;
    border-radius: 20%;
    border: 1px solid #0065FC;
    padding-left: 19px;
    margin-left: -8px;

}
form value
{
  padding-left: 3px;
}
form input
{
  padding-bottom: 18px;
  padding-top: 19px;
  padding-right: 0px;
  margin-right: 0px;

    font-size: 1.2em;
}
.filters_button
{
  margin: 0px 10px 20px 5px;
}
.filters_wrapper
{
  flex-wrap: wrap !important;
  margin-left: 13px;
}
.filters_button span {
  margin: 0px 15px 0 42px;
  font-weight: 700;
  font-size: 1.3em;
}
.populaires
{
  display: flex;
  margin-left: 20px;
  white-space: nowrap;

}
.emile,.aw, .febrian
{
  margin-left: 20px;
  margin-right: 20px
}
.hebergements
{
  display: flex;
  flex-direction: column-reverse;
}
.line_photos
{
  display: flex;
  flex-direction: column;
}
aside
{

}
.heber_title
{
  word-wrap: break-word;
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 12px;
  margin-bottom: 30px;


}
.heber, .bloc_hergement h3
{
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 0px;
  margin-top: 40px;
}

.index
{
  margin-top: 5px;
  word-wrap: break-word;
  margin-left: 13px;
  font-size: 1.2em;

}
.info
{
  margin-bottom: 4px;
}
.icon_info
{
  margin-top: 17px;
}

.bloc_hergement
{
  width: auto;
  background-color: white;
  margin-bottom: 0px;

}
.picture_auberge,
.picture_port,
.picture_mouettes,
.picture_ann,
.picture_nicate,
.picture_amina
{
  height: 145px;
  border-radius: 10px 10px 0% 0%;
  margin-left: -5px;
  width: 100%;
}

.auberge, .port, .mouette, .annie, .nicate, .zakaria
{
    margin-bottom: 10px;
    width: 100%;
    padding: 0px;

}
.filters
{
  display: flex;
  flex-direction: column;
}
.filters h2
{
  margin-left: 12px;
  margin-top: 1px;
}

.bloc_populaire
{
   margin-left: -10px;
   margin-right: -10px;
    border-radius: 0%;
    margin-bottom: 0px;
}
.chart
{
  margin-left: 210px;
    height: 24px;
}
.text-photo-star
{

    white-space: nowrap;
}

.picture_emile
{
  height: 157px;
}
.picture_aw
{
  height: 145px;
}
.picture_feb
{
  height: 159px;
}
.no-box-shadow,
.cards{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.card
{
  width: 100%;
  margin-left: 2px;
}
.cards img, .card img
{
  width: 100%;
  height: calc(100% - 55px);
}

.actibloc
{

  flex-direction: column;
  padding-top: 30px;
}
.actibloc h3
{
  margin-left: 15px;
    font-size: 1.4em;
}


.no-box-shadow .lg-card{
  box-shadow: 0 0 35px #F2F2F2;
  border-radius: 12px;
  overflow: hidden;
  height: 200%;
  margin-bottom: 40px;

}
.no-box-shadow .sm-card{
  height: calc(200% - 200px);
  box-shadow: 0 0 35px #F2F2F2;
  border-radius: 18px;
  overflow: hidden;

}
.lg-card-2,
.sm-card-2{
  box-shadow: 0 0 35px #F2F2F2;
  border-radius: 18px;
  overflow: hidden;
  height: 195%;
  margin-bottom: 40px;
}
footer
{
    margin-left: -10px;
    margin-right: -10px;
    font-size: 1.1em;
}
.foot_2, .foot_3, .foot_1
{
  margin-left: 30px;
  white-space: nowrap;
}

.kilyan,.vieux
{
  display: none;
}

}
