
@font-face {
  font-family: 'Raleway_thin';
  src: url('font/Raleway-V.ttf');
  font-weight: normal;
  font-size: normal;
}
header
{
  display: flex;
  font-family: 'Raleway_thin';

  justify-content: space-between;
}
#logo
{

  margin-top: 0px;

  width: 65%;

}



nav ul
{
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin-left: 850px;
  margin-top: -32px;




  width: 100%;


}
nav li
{
  margin-right: 0px;
  padding-right: 110px;




}
nav a
{
  font-size: 0.9em;
  padding-bottom: 3px;
  text-decoration: none;
  color: grey;

}

nav a:hover
{
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 40px;




}
#sub
{
  margin-left: 1220px;
  margin-top: -34px;
}
#sub a
{
  color: #0065FC;
  font-weight: bold;
}
.acti, .navhebr
{


}

header, .recherche, form input, h3, p, span, h2
{
font-family: 'Raleway_thin';
}
h2{
  font-size: 0.9em;
}
.little, .index p, p
{
  font-size: 0.8em;

}
.recherche
{
  border: 1px solid;
  border-radius: 0px 10px 10px 0px;
  color: white;
  text-align: center;
  background-color: #0065FC;
  text-decoration: none;
  font-size: 0.8em;
  margin: 14px 16px 8px -1px;
  font-weight: bold;


  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;


}
.inscrire
{ font-size: 0.9em;

  text-decoration: none;
  font-weight: bold;
  color: #0065FC;
  font: Raleway_thin;





}

#formulaire
{ display: flex;
  justify-content: flex-start;

  flex-wrap: nowrap;





}
form input
{
  padding-bottom: 12px;
  border: 1px solid #F2F2F2;
  text-align: left;
  font-weight: bold;
  padding-top: 14px;
  margin-bottom: -10px;
  padding-right: 11px;
  margin-right: 0.4px;
  padding-left: 13px;
  margin-top: 3px;




}
#gps
{
  width: 10px;
  height: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  padding-top: 15px;
 margin-top: 15.5px;
 margin-bottom: 10px;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 19px;
  padding-right: 15px;
  align-items: center;

}
#navi
{

  justify-content: space-around;
  padding-top: 22px;


  width: 100%;
}
.first
{
  padding-top:30px;
}

.filters{

  display: inline-flex;
  justify-content: flex-start;
}
.filters h2 {
  padding-top: 18px;
}
.filters_wrapper {
  display: flex;
    flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 10px;

}

label{
  font-size: 0.7em;
}

.filters_button_container {
  display: flex;
}
.filters_button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0px 40px 20px 5px;
  height: 45px;
  outline: none;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  transition: 0.1s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}
.filters h2
{

}

.filters_button input {
  display: none;
}

.filters_button:hover{
  transform: scale(1.02);
  background-color: #deebff;
  border: 2px solid transparent;
}
.filters_button span {
  margin: 0px 15px 0 42px;
  font-weight: 700;
  font-size: 1.1em;
}
.filters_icon {
  position: absolute;
  z-index: 2;
  margin: 0 0 0 -5px;
  background-color: #deebff;
  border-radius: 50%;
  padding-bottom: 3px;
  padding-right: 5px;
}

.icon_container {
  text-align: center;
  height: 46px;
  width: 46px;
}

.filters_icon i {
  color: #0065fc;
  font-size: 1.2em;
  margin-top: 13px;


}
.fas_fa-money-bill-wave, .fas_fa-child, .fas_fa-heart, .fas_fa-dog, .chart
{
  width: auto;
  height: 15px;

}
.fas_fa-money-bill-wave, .fas_fa-dog, .fas_fa-child, .fas_fa-heart
{
  padding-left: 10px;
  margin-top: 18px;
  margin-right: 5px;

}
.info
{
 height: 10px;
  width: auto;
  margin-right: 50px;
  margin-left: 8px;
  margin-bottom: 1px;
}
.icon_info
{
  border: 2px solid #F2F2F2;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: 9px;
  margin-right: 7px;


}



.index
{
  display:flex;
  justify-content: flex-start;

}
.bloc_hergement
{ width: 65%;
  background-color: #F2F2F2;
  border-radius: 3%;
padding-bottom: 40px;
padding-top: 0.5px;
}
.heber
{
  padding-top: 10px;
  padding-left: 30px;


}
.star_1, .star_2
{
  height: 12px;
  width: auto;
}
.picture_auberge
{

  height: 113px;
  width: 100%;
  border-radius: 5% 5% 0% 0%;
}
.auberge, .port, .mouette, .annie, .nicate, .zakaria
{
  background-color: white;
  text-decoration: none;
  width: 30%;
  border: 2px solid #white;

  margin-top: 20px;

  padding-top: 5px;
  padding-left: 5px;
  border-radius: 5%;
  padding-right: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 2px #D8D4EA;
}
.emile:hover, .aw:hover, .febrian:hover, .auberge:hover, .port:hover, .mouette:hover, .annie:hover, .nicate:hover, .zakaria:hover
{
box-shadow: 10px 10px 10px #D8D4EA;
}
.line_photos
{display: flex;
flex-wrap: wrap;
justify-content: space-around;}
.picture_annie, .picture_nicate
{
  height: 113px;
  width: auto;
  border-radius: 5% 5% 0% 0%;
}
.picture_zakaria
{
  height: 112px;
  width: auto;
  border-radius: 5% 5% 0% 0%;

}
.picture_ann
{
  height: 115px;
  width: auto;
  border-radius: 5% 5% 0% 0%;

}
.plus
{
  margin-left: 30px;
  margin-top: 50px;
}
.hebergements
{display: flex;
justify-content: space-around;}
aside
{
  width: 32%;
}
a
{text-decoration: none;
color: black;}
aside a:hover, .bloc_hergement a:hover
{color: #0065FC;}
.bloc_populaire
{
  border: 2px solid #F2F2F2;
  border-radius: 3%;
  padding-bottom: 36px;



  background-color: #F2F2F2;

  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

}
.populaires
{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;



}
.chart
{
  margin-top: 20px;
  width: auto;
  height: 20px;
  padding-right: 5px;


}
.emile
{
  background-color: white;
  text-decoration: none;

  border: 2px solid #white;
  margin-right: 25px;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 2px;
  padding-left:2px;
  border-radius: 6%;
  padding-right: 3px;
  padding-bottom: 14px;
  box-shadow: 2px 2px 2px #D8D4EA;

}
.picture_emile
{
  width: auto;
  height: 155px;
  margin-left: 2px;
  margin-top: 2px;

  border-radius: 6% 0% 0% 6%;
margin-right: 0px;
}
.description
{

  margin-top: 5px;
  margin-left: 10px;
}
.price
{
margin-top: -4px;
margin-left: 10px;
}
.line_stars
{
  margin-left: 10px;
}

.sun_text, .sun_price, .sun_stars, .sun_stars_aw, .sun_text_aw, .sun_stars_feb, .sun_text_feb
{margin-left: 160px;
}
.sun_text
{
  margin-top: -155px;

}
.sun_text_aw
{
  margin-top: -140px;

}
.sun_text_feb
{
  margin-top: -155px;

}
.sun_stars
{
  margin-top: 60px;
}
.aw
  {
    background-color: white;
    text-decoration: none;

    border: 2px solid #white;
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 3px;
    padding-left:2px;
    border-radius: 6%;
    padding-right: 5px;
    padding-bottom: 13px;
    box-shadow: 2px 2px 2px #D8D4EA;

  }
.picture_aw
{
  width: auto;
  height: 140px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 6% 0% 0% 6%;
margin-right: 0px;

}
.picture_feb
{
  width: auto;
  height: 157px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 6% 0% 0% 6%;
margin-right: 0px;

}

.febrian
{
  background-color: white;
  text-decoration: none;

  border: 2px solid #white;
  margin-right: 25px;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 3px;
  padding-left:2px;
  border-radius: 6%;
  padding-right: 5px;
  padding-bottom: 13px;
  box-shadow: 2px 2px 2px #D8D4EA;


}
.sun_stars_aw
{
  margin-top: 45px;
}
.sun_stars_feb
{
    margin-top: 60px;
}
.activite
{
  margin-top: 100px;
}


.kil_responsive,.reno-r
{
  width: auto ! important;
    height: 190px ! important;
}



.card:hover, .no-box-shadow:hover, .lg-card:hover, .sm-card:hover, .lg-card-2:hover, .sm-card-2:hover, img:hover
{  box-shadow: 16px 16px 16px #F2F2F2;
}
